
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>"Экспертная система [EGH] </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    @*<link href="~/content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/content/site.css" type="text/css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand col-xs-1">
                <a href="/"><img src="~/Resources/Layout_Mobile_Whiteframe1.png" alt="EGH" /></a>
            </div>
            <!--Заголовок индивидуальный для страниц-->
            <div class="title col-xs-8">
                <style>
                    .title {
                        text-align: center;
                    }
                </style>
              @if (ViewBag.EGHLayout == "RGE")
                {
                    <h2>Прогноз</h2>

                }
                else if (ViewBag.EGHLayout == "CEQ")
                {
                    <h2>Оценка прогнозируемого состояния</h2>
                }
                else if (ViewBag.EGHLayout == "GEA")
                {
                    <h2>Классификация прогнозируемого состояния </h2>
                }
                else if (ViewBag.EGHLayout == "ORT")
                {
                    <h2>Выбор технологий реабилитации</h2>
                }
                else if (ViewBag.EGHLayout == "CCO")
                {
                    <h2>Химический состав нефтей</h2>
                }
                else if (ViewBag.EGHLayout == "CAI")
                {
                    <h2>Техногенные объекты</h2>
                }
            </div>
            <div class=" col-xs-3">
                <!--Главное меню-->
                <ul class="navbar-nav nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown" role="button" aria-expanded="false">Главное меню <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Прогноз", "Index", "EGHRGE")  </li>
                            <li>@Html.ActionLink("Оценка прогнозируемого состояния", "Index", "EGHCEQ")  </li>
                            <li>@Html.ActionLink("Классификация прогнозируемого состояния", "Index", "EGHGEA")  </li>
                            <li>@Html.ActionLink("Выбор технологий реабилитации", "Index", "EGHORT")  </li>
                            <li>@Html.ActionLink("Химический состав нефтей", "Index", "EGHCCO")  </li>
                            <li>@Html.ActionLink("Техногенные объекты", "Index", "EGHCAI")  </li>

                        </ul>
                    </li>
                </ul>
            </div>
            @*<div class="navbar-brand ">
                <a href="/"><img src="~/Resources/Layout_Mobile_Whiteframe1.png" alt="EGH" /></a>
                              
            </div>*@            
            <!--Главное меню-->
            <ul class="navbar-nav nav navbar-right">
                <li class="dropdown">
                    @*<a href="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown" role="button" aria-expanded="false">Главное меню <span class="caret"></span></a>*@
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("EGHRGE-Прогноз", "Index", "EGHRGE")  </li>
                        <li>@Html.ActionLink("EGHGEA-Оценка огнозируемого состояния", "Index", "EGHCEQ")  </li>
                        <li>@Html.ActionLink("EGHORT-Классификация прогнозируемого состояния", "Index", "EGHGEA")  </li>
                        <li>@Html.ActionLink("EGHORT-Выбор технологий реабилитации", "Index", "EGHORT")  </li>
                        <li>@Html.ActionLink("EGHCCO-Химический состав нефтей", "Index", "EGHCCO")  </li>
                        <li>@Html.ActionLink("EGHCAI-Техногенные объекты", "Index", "EGHCAI")  </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="wrap" class="osnova">
        <!--Меню индивидуальное для страниц-->
        <div class="navbar navbar-default proverka1">
            <ul class="navbar-nav nav">
                @if (ViewBag.EGHLayout == "RGE")
                {
                    <li>@Html.ActionLink("Прогноз", "Index", "EGHRGE")</li>
                    <li>@Html.ActionLink("Опорные точки", "Index", "EGHRGE")</li>
                    <li>@Html.ActionLink("Природоохранные объекты", "Index", "EGHRGE")</li>
                    <li>@Html.ActionLink("Отчеты", "Index", "EGHRGE")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown" role="button" aria-expanded="false">
                            Справочники<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Типы инцидентов", "IncidentType", "EGHRGE")</li>
                            <li>@Html.ActionLink("Типы природоохранных объектов", "IncidentType", "EGHRGE")</li>
                            <li>@Html.ActionLink("Типы грунтов", "IncidentType", "EGHRGE")</li>
                            <li>@Html.ActionLink("Категории земли", "IncidentType", "EGHRGE")</li>
                            <li>@Html.ActionLink("Коэффициент растекания", "IncidentType", "EGHRGE")</li>
                        </ul>
                    </li>


                }
                else if (ViewBag.EGHLayout == "CEQ")
                {
                   <li>@Html.ActionLink("Результаты прогнозирования", "Index", "EGHCEQ")</li>
                   <li>@Html.ActionLink("Оценка прогнозируемого состояния", "Index", "EGHCEQ")</li>
                   <li>@Html.ActionLink("Предельно-допустимые концентрации", "Index", "EGHCEQ")</li>
                   <li>@Html.ActionLink("Отчеты", "Index", "EGHCEQ")</li>
                    }
                    else if (ViewBag.EGHLayout == "GEA")
                    {
                   <li>@Html.ActionLink("Результаты оценки прогнозируемого  состояния", "Index", "EGHGEA")</li>
                   <li>@Html.ActionLink("Классификация прогнозируемого состояния", "Index", "EGHGEA")</li>
                   <li>@Html.ActionLink("Критерии классификации", "Index", "EGHGEA")</li>
                   <li>@Html.ActionLink("Отчеты", "Index", "EGHGEA")</li>
                    }
                    else if (ViewBag.EGHLayout == "ORT")
                    {
                   <li>@Html.ActionLink("Результаты классификации прогнозируемого состояния", "Index", "EGHORT")</li>
                   <li>@Html.ActionLink("Выбор технологий реабилитации", "Index", "EGHORT")</li>
                   <li>@Html.ActionLink("Критерии выбора технологий", "Index", "EGHORT")</li>
                   <li>@Html.ActionLink("Отчеты", "Index", "EGHORT")</li>
                    }
                    else if (ViewBag.EGHLayout == "CCO")
                    {

                    }
                    else if (ViewBag.EGHLayout == "CAI")
                    {

                    }
</ul>


    </div>



    <div class=" container mainbody">
        @RenderBody()
    </div>

    <div id="push"></div>
    </div>
    <div class="footer col-xs-8">
        <style>
            .footer {
                text-align: right;
            }
        </style>

        <div id="footer">
            &copy; Государственное предприятие "НПЦ по геологии"
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>

<<<<<<< HEAD


=======
>>>>>>> e03cd81df564ad90a7c0343f0fe326d4f7a0b65d
@*<div class=" container proverka1">
    @if (ViewBag.EGHLayout == "RGE")
    {
         @Html.ActionLink("Прогноз -- ",             "Index", "EGHRGE")
         @Html.ActionLink("Опорные точки",           "Index", "EGHRGE")
         @Html.ActionLink("Природоохранные объекты", "Index", "EGHGRE")
         <article>
             @Html.ActionLink("Справочники", "Index", "EGHGRE")
             @Html.ActionLink("---Типы инцидентов", "IncidentType", "EGHRGE")
         </article>


    }
    @if (ViewBag.EGHLayout == "CCO")
    {
       @Html.ActionLink("-Типы нефтепродуктов-", "PetrochemicalType", "EGHCCO")
    }

    @if (ViewBag.EGHLayout == "CAI")
    {
        @Html.ActionLink("---CAI", "RiskObject", "EGHCAI")

    }





        @Html.ActionLink("Прогноз -- ", "Index", "EGHRGE")
        @Html.ActionLink("Опорные точки", "Index", "EGHGRE")
        @Html.ActionLink("Оптимальные технологии реабилитации", "Index", "EGHGRE")
        @Html.ActionLink("Типы инцидентов", "Index", "EGHRGE")


        <div >
            <span id="spravochniki" onclick="$('#spravochniki_list').toggle();">Справочники</span>
            <ul id="spravochniki_list" style="display:none;">
                <li>@Html.ActionLink("---справочник 1", "IncidentType", "EGHRGE")</li>
                <li>@Html.ActionLink("---справочник 2", "IncidentType", "EGHRGE")</li>
                <li>@Html.ActionLink("---справочник 3", "IncidentType", "EGHRGE")</li>
                <li>@Html.ActionLink("---справочник 3", "IncidentType", "EGHRGE")</li>
            </ul>
        </div>

    </div>*@
<<<<<<< HEAD

=======
>>>>>>> e03cd81df564ad90a7c0343f0fe326d4f7a0b65d
