@using EGH01DB.Types;
@using EGH01.Core;
@model List<CadastreType>
@{
    Menu menu = new Menu(
                  
                            new Menu.MenuItem("Изменить", "CadastreType.Update", true)
                           );

}
@foreach (CadastreType t in @Model)
{

    using (Html.BeginForm("CadastreType", "EGHCEQ"))
    {

        <div class="box">
            <div class="boxdata">


                <p><label class="boxdata-label-30">Идентификатор</label><span class="boxdata-span"> @t.type_code.ToString()</span></p>
                <p><label class="boxdata-label-30">Категория земли</label> <span class="boxdata-span">@t.name.ToString()</span></p>
                <p><label class="boxdata-label-30">ПДК в грунте (мг/кг)</label> <span class="boxdata-span">@t.pdk_coef.ToString()</span></p>
                <p><label class="boxdata-label-30">ПДК в воде (мг/дм3)</label> <span class="boxdata-span">@t.water_pdk_coef.ToString()</span></p>
                <p><label class="boxdata-label-30">Название нормативного документа для почвы</label> <span class="boxdata-span">@t.ground_doc_name</span></p>
                <p><label class="boxdata-label-30">Название нормативного документа для воды</label> <span class="boxdata-span">@t.water_doc_name</span></p>
                <input type="hidden" value="@t.type_code.ToString()" name="type_code">

            </div>
            @Html.Partial("_TypeLineMenu", menu)
        </div>

    }
}

