@using EGH01DB.Objects;
@using EGH01DB.Primitives;
@using EGH01.Core;
@using EGH01.Models.EGHCEQ;
@using EGH01;
@model EGH01DB.CEQContext
@{
    ViewBag.Title = "ChoiceForecastResult";
    Layout = "~/Views/Shared/EGHLayout.cshtml";

    EGH01DB.CEQContext ceq = (EGH01DB.CEQContext)Model;
    ChoiceForecastResultContext context = (ChoiceForecastResultContext)Model.GetViewContext("ChoiceForecastResult");
    if (context == null) { Model.SaveViewContext("ChoiceForecastResult", context = new ChoiceForecastResultContext()); };
    
}
@switch (context.Regim)
{ 
    case  ChoiceForecastResultContext.REGIM.INIT:
                             @Html.Partial("_ChoiceForecastResult", @Model)
                             break;   
    case  ChoiceForecastResultContext.REGIM.CHOICE:
                             @Html.Partial("_ConfirmChoiceForecastResult", @Model)
                             break;                          
    case  ChoiceForecastResultContext.REGIM.CANCEL:
                             break;                                 
    case ChoiceForecastResultContext.REGIM.ERROR:
                             @Html.Partial("_ChoiceForecastResult", @Model)
                             break;
     case ChoiceForecastResultContext.REGIM.REPORT:
                             <h2>REPORT</h2>
                             break;                        
    default: break;                                                                    
} 
    

@*if (context.Regim == ChoiceForecastResultContext.REGIM.INIT)
{ 
    @Html.Partial("_ChoiceForecastResult", @Model)
}*@





@ViewBag.msg


