@using EGH01.Core;
@using EGH01.Models.EGH;
@model EGH01DB.Types.PetrochemicalType
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "PetrochemicalType.Create", false),
                          new Menu.MenuItem("Excel-формат", "PetrochemicalType.Excel", false)
                        );

    Menu delete = new Menu(
                          new Menu.MenuItem("Удалить", "PetrochemicalType.Delete.Delete", true),
                          new Menu.MenuItem("Отказаться", "PetrochemicalType.Delete.Cancel", true)
                        );

}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHCCO", Action = "PetrochemicalType", Menu = head })

@using (Html.BeginForm("PetrochemicalTypeDelete", "EGHCCO"))
{

    <div class="box">
        <div class="boxdata">
            <p>
                <label class="boxdata-label-30">Код типа нефтепродукта</label>
                @Model.code_type.ToString()
                <input type="hidden" value="@Model.code_type.ToString()" name="type_code">
            </p>
            <p>
                <label class="boxdata-label-30">Наименование нефтепродукта</label>
                @Model.name
            </p>
         </div>

        @Html.Partial("_TypeLineMenu", delete)

     </div>
}

