@using EGH01DB.Types;
@using EGH01.Core; 
@using EGH01DB.Points; 
@model List<AnchorPoint>
@{
    Menu menu =  new Menu(
                            new Menu.MenuItem("Удалить", "AnchorPoint.Delete",  true),
                            new Menu.MenuItem("Изменить", "AnchorPoint.Update",  true)
                           );

}
@foreach(AnchorPoint t in @Model)
{

    using(Html.BeginForm("AnchorPoint", "EGHRGE"))
    {
        float latitude = EGH01DB.Primitives.Coordinates.dms_to_d(@t.coordinates.lat.d, @t.coordinates.lat.m, @t.coordinates.lat.s);
        <div class="box">
            <div class="boxdata">

               
                 <p><label class="boxdata-label-30">Идентификатор</label> @t.id.ToString()</p>
                                 <fieldset style="padding:10px;  border:1px solid black; width:95%; margin:5px 5px" form="AnchorPoint">
                    <legend style="width: auto; font: inherit; border:none;">Координаты</legend>
                    <p>
                        <label class="boxdata-label-30">Координаты.Широта</label>
                        <input readonly="readonly" class="boxdata-input-10" type="number" name="Lat_d" value="@t.coordinates.lat.d.ToString()" min="-90" max="90" />&deg;
                        <input readonly="readonly" class="boxdata-input-10" type="number" name="Lat_m" value="@t.coordinates.lat.m.ToString()" min="-90" max="90" />&acute;
                        <input readonly="readonly" class="boxdata-input-10" type="number" name="Lat_s" value="@t.coordinates.lat.s.ToString("0.00").Replace(',','.')" />&quot;
                    </p>  
                       
                    <p>
                        <label class="boxdata-label-30">Координаты.Долгота</label>
                        <input readonly="readonly" class="boxdata-input-10" type="number" name="Lngitude" value="@t.coordinates.lng.d.ToString()" max="180" min="0" />&deg;
                        <input readonly="readonly" class="boxdata-input-10" type="number" name="Lng_m" value="@t.coordinates.lng.m.ToString()" min="-90" max="90" />&acute;
                        <input readonly="readonly" class="boxdata-input-10" type="number" name="Lng_s" value="@t.coordinates.lng.s.ToString("0.00").Replace(',','.')" />&quot;
                                     </p>
                                     <p><label class="boxdata-label-30">Координаты в градусах</label>@latitude.ToString()°&nbsp;</p>
                 </fieldset>
                                        <p><label class="boxdata-label-20">Категория земли</label> @t.cadastretype.name</p>
                <fieldset style="padding:10px;  border:1px solid black; width:95%; margin:5px 5px" form="AnchorPoint">
                    <legend style="width: auto; font: inherit; border:none;">Геологические данные</legend>
                    <p><label class="boxdata-label-30">Грунт</label> @t.groundtype.name </p>
                    <p><label class="boxdata-label-30">Высота над уровнем моря (м)</label> @t.height.ToString()</p>
                    <p><label class="boxdata-label-30">Глубина грунтовых вод (м)</label> @t.waterdeep.ToString() </p>
                </fieldset>
                   
                    <input type="hidden" value="@t.id.ToString()" name="type_code">

</div>
            @Html.Partial("_TypeLineMenu", menu)
        </div>

    }
}

 