@using EGH01DB.Types;
@using EGH01.Core; 
@model List<GroundType>
@{
   Menu menu =  new Menu( 
                           new Menu.MenuItem("Удалить",  "GroundType.Delete",  true),
                           new Menu.MenuItem("Изменить", "GroundType.Update",  true)
                          );   
    
}
@foreach(GroundType t in @Model)
{

    using(Html.BeginForm("GroundType", "EGHRGE"))
    {

        <div class="box">
            <div class="boxdata">

               
                 <p><label class="boxdata-label-30">Код типа грунта</label> @t.type_code.ToString()</p>
                               <p><label class="boxdata-label-30">Наименование грунта</label> @t.name </p>
                                <p><label class="boxdata-label-30">Пористость</label> @t.porosity.ToString()</p>
                               <p><label class="boxdata-label-30">Коэффициент распределения</label> @t.distribution.ToString() </p>
                               <p><label class="boxdata-label-30">Влажность</label> @t.soilmoisture.ToString() </p>
                               <p><label class="boxdata-label-30">Водопроницаемость (м/с)</label> @t.permeability.ToString() </p>
                               <p><label class="boxdata-label-30">Коэффициент сорбции (1/с)</label> @t.sorption.ToString() </p>
                               <p><label class="boxdata-label-30">Коэфицинт диффузии (м2/с)</label> @t.diffusion.ToString()</p>
                               <p><label class="boxdata-label-30">Влагоемкость</label> @t.watercapacity.ToString() </p>
                               <p><label class="boxdata-label-30">Коэффициент фильтрации (м/с)</label> @t.waterfilter.ToString()</p>
                               <p><label class="boxdata-label-30">Коэффициент Аверьянова</label> @t.аveryanovfactor.ToString() </p>
                               <p><label class="boxdata-label-30">Коэффициент задержки нефтепродукта</label> @t.holdmigration.ToString()</p>
                               <p><label class="boxdata-label-30">Средняя плотность грунта (кг/м3)</label> </p>
                 <input type="hidden" value="@t.type_code.ToString()" name="type_code">
            
            </div>
            @Html.Partial("_TypeLineMenu", menu)
        </div>

    }
}

 