@using EGH01DB.Primitives;
@using EGH01.Core;

@model List<SpreadingCoefficient>
@{
    Menu menu = new Menu(
                            new Menu.MenuItem("Удалить", "SpreadingCoefficient.Delete", true),
                            new Menu.MenuItem("Изменить", "SpreadingCoefficient.Update", true)
                           );

}
@foreach (SpreadingCoefficient t in @Model)
{

    using (Html.BeginForm("SpreadingCoefficient", "EGHRGE"))
    {

        <div class="box">
            <div class="boxdata">
                <div class="boxdata">
                    <p><label class="boxdata-label-30">Тип грунта</label>@t.ground_type.name.ToString() </p>
                    <input type="hidden" value="@t.code.ToString()" name="code">
                </div>
                <div class="boxdata">
                    <p><label class="boxdata-label-30">Диапазон значений объема пролива</label>@t.min_volume.ToString() - @t.max_volume.ToString()</p>
                </div>
                <div class="boxdata">
                    <p><label class="boxdata-label-30">Диапазон значений гидравлического уклона</label>@t.min_angle.ToString() - @t.max_angle.ToString()</p>
                </div>
                <div class="boxdata">
                    <p><label class="boxdata-label-30">Коэффициент разлива</label>@t.koef.ToString()</p>
                </div>
            </div>

                @Html.Partial("_TypeLineMenu", menu)
            </div>

    }
}


