@using EGH01.Core; 
@using EGH01.Models.EGH;
@model EGH01DB.Points.AnchorPoint
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "AnchorPoint.Create", false),
                          new Menu.MenuItem("Excel-формат", "AnchorPoint.Excel", false)
                        );

    Menu delete = new Menu(
                          new Menu.MenuItem("Удалить", "AnchorPoint.Delete.Delete", true),
                          new Menu.MenuItem("Отказаться", "AnchorPoint.Delete.Cancel", true)
                        );

}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHRGE", Action = "AnchorPoint", Menu = head})

 @using(Html.BeginForm("AnchorPointDelete", "EGHRGE"))
 {

   <div class="box">
            <div class="boxdata">

                <p><label class="boxdata-label-30">Идентификатор</label>@Model.id.ToString()</p>
                <fieldset  form="ChoiseRiskObject">
                    <legend style="width: auto; font: inherit; border:none;">Координаты</legend>
                    <p><label  class="boxdata-label-10">Координаты. Широта:</label>@Model.coordinates.lat.d.ToString()°&nbsp;@Model.coordinates.lat.m.ToString()'&nbsp;@Model.coordinates.lat.s.ToString("0.000")"</p>
                    <br>
                    <p><label class="boxdata-label-10">Координаты. Долгота:</label>@Model.coordinates.lng.d.ToString()°&nbsp;@Model.coordinates.lng.m.ToString()'&nbsp;@Model.coordinates.lng.s.ToString("0.000")"</p>
                </fieldset>
                <input type="hidden" value="@Model.id.ToString()" name="id">
            </div>
            
            @Html.Partial("_TypeLineMenu",delete)
            
        </div>
  }