@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Types;
@using EGH01.Models.EGHRGE;
@model EGH01DB.RGEContext

@{

    Layout = "~/Views/Shared/EGHLayout.cshtml";
    
    EGH01DB.RGEContext rge = (EGH01DB.RGEContext)Model;
    ForecastViewConext context = (ForecastViewConext)Model.GetViewContext("Forecast");
    if (context == null) { Model.SaveViewContext("Forecast", context = new ForecastViewConext()); };
        
    Menu.MenuItem mitem =  new Menu.MenuItem("Географическая точка", "Forecast.Point", false);
    Menu start = new Menu(
                          new Menu.MenuItem("Прогноз",    "Forecast.Forecast", true),
                          new Menu.MenuItem("Отказаться", "Forecast.Cancel",  true),
                          mitem 
                        );


   

    
       
   

}

@using (Html.BeginForm("Forecast", "EGHRGE"))
{

    <div class="box">
     @{

               string idate = DateTime.Now.ToString("yyyy-MM-dd");
               if (context.Incident_date != null) { idate = ((DateTime)context.Incident_date).ToString("yyyy-MM-dd"); }
               
               <div class="boxdata">
                <label class="boxdata-label-30"> Дата инцидента </label>
                <input class="boxdata-input-30" type="date" name="date"  value= "@idate" />
             </div>
             
      }
     @{
          
              string mdate = DateTime.Now.ToString("yyyy-MM-dd");
              if (context.Incident_date_message != null) { mdate = ((DateTime)context.Incident_date_message).ToString("yyyy-MM-dd"); }
              
             <div class="boxdata">
               <label class="boxdata-label-30"> Дата регистрации </label>
                <input class="boxdata-input-30" type="date" name="date_message" value="@mdate" />
             </div>
     
      }
              
     @{
             List<EGH01DB.Types.PetrochemicalType> ptl = new List<EGH01DB.Types.PetrochemicalType>();
             List<SelectListItem> petrochemicaltype = new List<SelectListItem>();
             if (Model != null)
             {
               if (Helper.GetListPetrochemicalType(Model, ref ptl))
               {
                ptl.ForEach(o => petrochemicaltype.Add(new SelectListItem { Text = o.name, Value = o.code_type.ToString() }));
               }
               if (context.Petrochemical_type_code != null)
               {
                SelectListItem si = petrochemicaltype.FirstOrDefault(s => s.Value == context.Petrochemical_type_code.ToString());
                si.Selected = true;  
               }
                                  
             }
             
            <div class="boxdata">
              <label class="boxdata-label-30">Тип нефтепродукта</label>
              <span class="boxdata-input-30"> @Html.DropDownList("petrochemicaltype", petrochemicaltype) </span>
           </div>
                   
      }
       
     @{
          
             List<SelectListItem> incidenttype = new List<SelectListItem>();
             if (Model != null)
             {

                 EGH01DB.Types.IncidentTypeList itl = new EGH01DB.Types.IncidentTypeList(Model);
                 itl.ForEach(o => incidenttype.Add(new SelectListItem { Text = o.name, Value = o.type_code.ToString() }));
             }
             if (context.Incident_type_code != null)
             {
                 SelectListItem si = incidenttype.FirstOrDefault(s=>s.Value == context.Incident_type_code.ToString());
                 si.Selected = true;         
             }              
             <div class="boxdata">
                <label class="boxdata-label-30">Тип инцидента</label>
                <span class="boxdata-input-30"> @Html.DropDownList("incidenttype", incidenttype) </span>
             </div>
      }  
        
       @{
          
          string  volume = "";
          if (context.Volume != null)
          {
              volume = ((int)context.Volume).ToString();
          }           
          <div class="boxdata">
               <label class="boxdata-label-30">Объем пролива (кг3)</label>
               <input class="boxdata-input-30" type="number" name="volume"  value="@volume"  min="0" max="1000000" step="1" />
          </div>
   
        }


        @if (!mitem.Value.Equals("Forecast.Point"))
        { 
            <div class="box-fieldset">
                <fieldset style="border:1px solid black; width:95%; margin:5px">
                    <legend style="margin:10px;"></legend>
                    <div class="boxdata">
                        <label class="boxdata-label-30">Широта</label>
                        <input class="boxdata-input-20" type="number" name="latitude_grad" min="-90" max="90" step="1" />
                        <input class="boxdata-input-20" type="number" name="latitude_min" min="0" max="60" step="1" />
                        <input class="boxdata-input-20" type="number" name="latitude_sec" min="0" max="60" step="0.01" />
                    </div>
                        <div class="boxdata">
                        <label class="boxdata-label-30">Долгота</label>
                        <input class="boxdata-input-20" type="number" name="lngitude_grad" min="-180" max="1800" step="1" />
                        <input class="boxdata-input-20" type="number" name="lngitude_min" min="0" max="60" step="1" />
                        <input class="boxdata-input-20" type="number" name="lngitude_sec" min="0" max="60" step="0.01" />
                    </div>
                </fieldset>
            </div>
        }
        else
        {
            
            @Html.Action("ChoiceRiskObject", "EGHRGE", new {controller = "EGHRGE", action ="Forecast"});
        }  
        @Html.Partial("_TypeLineMenu", start)
        
        @if (context.Regim == ForecastViewConext.REGIM.ERROR)
        {
          <div class="boxdata">
            <p>
                Ошибка заполнения 
            </p>     
           </div>
        }
        else if (context.Regim == ForecastViewConext.REGIM.RUNERROR)
        { 
            <div class="boxdata">
            <p>
               Ошибка выполнения 
            </p>     
           </div>
        }
        else if (context.Regim == ForecastViewConext.REGIM.REPORT)
        {
            <div class="boxdata">
                <h1> ОТЧЕТ-ПРОГНОЗ  </h1>
                <h2>Наземное пятно</h2>
                <p>
                    <label class="boxdata-label-30 ">Плотность нефтепродукта (@context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.name) (г/см3) </label>
                    @context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.density
                </p>
                <p>
                    <label class="boxdata-label-30 ">Масса пролива (т) </label>
                    @context.ecoforecast.groundblur.totalmass
                </p>
                
                <p>
                    <label class="boxdata-label-30 ">Коэффициент разлива (1/м) </label>
                    @context.ecoforecast.groundblur.spreadingcoefficient.koef
                </p>

                <p>
                    <label class="boxdata-label-30 ">Площадь разлива (м2) </label> 
                    @context.ecoforecast.groundblur.square    
                </p>
                
                <p>
                    <label class="boxdata-label-30 ">Радиус разлива (м) </label>
                    @context.ecoforecast.groundblur.radius
                </p>
                
                <fieldset style="padding:10px;  border:1px solid black; width:95%; margin:5px 5px" form="ChoiseRiskObject">
                    <legend style="width: auto; font: inherit; border:none;"> Максиальная масса НП, кот. может быть адсорбирована грунтом </legend>
                    <p>
                        <label class="boxdata-label-30 ">Средняя глубина грунтовых вод (м) </label>
                        @context.ecoforecast.groundblur.avgheight
                    </p>

                    <p>
                        <label class="boxdata-label-30 "> Площадь пролива(м2) </label>
                        @context.ecoforecast.groundblur.square
                    </p>

                    <p>
                        <label class="boxdata-label-30 "> Плотность воды </label>
                        @context.ecoforecast.groundblur.waterproperties.density
                    </p>
                    
                    <p>
                        <label class="boxdata-label-30 "> Пористость грунта </label>
                        @context.ecoforecast.groundblur.spreadpoint.groundtype.porosity
                     </p>
                    
                    <p>
                        <label class="boxdata-label-30 ">Капилярная влагоемкость грунта </label>
                        @context.ecoforecast.groundblur.spreadpoint.groundtype.watercapacity
                    </p>
                    <p>
                        <label class="boxdata-label-30 ">Динамическая вязкость нефтепродукта </label>
                        @context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.dynamicviscosity
                     </p>
                     <p>
                        <label class="boxdata-label-30 ">Коэфициент поверхностного натяжения воды </label>
                        @context.ecoforecast.groundblur.waterproperties.tension
                    </p>
                    <p>
                        <label class="boxdata-label-30 ">Вязкость воды</label>
                        @context.ecoforecast.groundblur.waterproperties.viscocity
                    </p>
                    <p>
                        <label class="boxdata-label-30 ">Максиальная масса НП, кот. может быть адсорбирована грунтом (т) </label>
                        @context.ecoforecast.groundblur.limitadsorbedmass
                   </p>
                </fieldset>

                <p>
                    <label class="boxdata-label-20 "> Адсорбированная масса нефтепрдукта (т) </label>
                    @context.ecoforecast.groundblur.adsorbedmass
                </p>
                <p>
                    <label class="boxdata-label-20 ">Масса нефтепродукта достигшая уровня грунтовых вод (т) </label>
                    @context.ecoforecast.groundblur.restmass
                </p>
                <p>
                <label class="boxdata-label-20 ">Глубина проникновения нефтепродукта в грунтах (м) </label>
                    @context.ecoforecast.groundblur.depth
                </p>

            </div>
        }
        
    </div>


}

