@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Types;
@using EGH01.Models.EGHRGE;
@model EGH01DB.RGEContext

@{

    Layout = "~/Views/Shared/EGHLayout.cshtml";
    
    EGH01DB.RGEContext rge = (EGH01DB.RGEContext)Model;
    ForecastViewConext context = (ForecastViewConext)Model.GetViewContext("Forecast");
    if (context == null) { Model.SaveViewContext("Forecast", context = new ForecastViewConext()); };

    if (context.ecoforecast != null && !string.IsNullOrEmpty(context.ecoforecast.errormessage))
    {
        context.Regim = ForecastViewConext.REGIM.RUNERROR; 
    }
          
      
    Menu.MenuItem mitem =  new Menu.MenuItem("Географическая точка", "Forecast.Point", false);
    Menu start = new Menu(
                          new Menu.MenuItem("Прогноз",    "Forecast.Forecast", true),
                          new Menu.MenuItem("Отказаться", "Forecast.Cancel",  true),
                          mitem 
                        );

     
   

    
       
   

}

@using (Html.BeginForm("Forecast", "EGHRGE"))
{

    <div class="box">
     @{

               string idate = DateTime.Now.ToString("yyyy-MM-dd");
               if (context.Incident_date != null) { idate = ((DateTime)context.Incident_date).ToString("yyyy-MM-dd"); }
               
               <div class="boxdata">
                <label class="boxdata-label-30"> Дата инцидента </label>
                <input class="boxdata-input-30" type="date" name="date"  value= "@idate" />
             </div>
             
      }
     @{
          
              string mdate = DateTime.Now.ToString("yyyy-MM-dd");
              if (context.Incident_date_message != null) { mdate = ((DateTime)context.Incident_date_message).ToString("yyyy-MM-dd"); }
              
             <div class="boxdata">
               <label class="boxdata-label-30"> Дата регистрации </label>
                <input class="boxdata-input-30" type="date" name="date_message" value="@mdate" />
             </div>
     
      }
              
     @{
             List<EGH01DB.Types.PetrochemicalType> ptl = new List<EGH01DB.Types.PetrochemicalType>();
             List<SelectListItem> petrochemicaltype = new List<SelectListItem>();
             if (Model != null)
             {
               if (Helper.GetListPetrochemicalType(Model, ref ptl))
               {
                ptl.ForEach(o => petrochemicaltype.Add(new SelectListItem { Text = o.name, Value = o.code_type.ToString() }));
               }
               if (context.Petrochemical_type_code != null)
               {
                SelectListItem si = petrochemicaltype.FirstOrDefault(s => s.Value == context.Petrochemical_type_code.ToString());
                si.Selected = true;  
               }
                                  
             }
             
            <div class="boxdata">
              <label class="boxdata-label-30">Тип нефтепродукта</label>@Html.DropDownList("petrochemicaltype", petrochemicaltype)
           </div>
                   
      }
       
     @{
          
             List<SelectListItem> incidenttype = new List<SelectListItem>();
             if (Model != null)
             {

                 EGH01DB.Types.IncidentTypeList itl = new EGH01DB.Types.IncidentTypeList(Model);
                 itl.ForEach(o => incidenttype.Add(new SelectListItem { Text = o.name, Value = o.type_code.ToString() }));
             }
             if (context.Incident_type_code != null)
             {
                 SelectListItem si = incidenttype.FirstOrDefault(s=>s.Value == context.Incident_type_code.ToString());
                 si.Selected = true;         
             }              
             <div class="boxdata">
                <label class="boxdata-label-30">Тип инцидента</label>@Html.DropDownList("incidenttype", incidenttype)
             </div>
      }  
        
       @{
          
          string  volume = "";
          if (context.Volume != null)
          {
              volume = ((int)context.Volume).ToString();
          }           
          <div class="boxdata">
               <label class="boxdata-label-30">Объем пролива (м3)</label>
               <input class="boxdata-input-30" type="number" name="volume"  value="@volume"  min="0" max="1000000" step="1" />
          </div>
   
        }


        @if (!mitem.Value.Equals("Forecast.Point"))
        { 
                <fieldset style="border:1px solid black; width:95%; margin:5px">
                    <legend style="margin:10px;"></legend>
                    <div class="boxdata">
                        <label class="boxdata-label-30">Широта</label>
                        <input class="boxdata-input-20" type="number" name="latitude_grad" min="-90" max="90" step="1" />
                        <input class="boxdata-input-20" type="number" name="latitude_min" min="0" max="60" step="1" />
                        <input class="boxdata-input-20" type="number" name="latitude_sec" min="0" max="60" step="0.01" />
                    </div>
                        <div class="boxdata">
                        <label class="boxdata-label-30">Долгота</label>
                        <input class="boxdata-input-20" type="number" name="lngitude_grad" min="-180" max="1800" step="1" />
                        <input class="boxdata-input-20" type="number" name="lngitude_min" min="0" max="60" step="1" />
                        <input class="boxdata-input-20" type="number" name="lngitude_sec" min="0" max="60" step="0.01" />
                    </div>
                </fieldset>
        }
        else
        {
            
            @Html.Action("ChoiceRiskObject", "EGHRGE", new {controller = "EGHRGE", action ="Forecast"});
        }  
        @Html.Partial("_TypeLineMenu", start)
        
        @if (context.Regim == ForecastViewConext.REGIM.ERROR)
        {
          <div class="boxdata">
            <p>
                Ошибка заполнения      
            </p>     
           </div>
        }
        else if (context.Regim == ForecastViewConext.REGIM.RUNERROR)
        { 
            <div class="boxdata">
            <p>
               @if (!string.IsNullOrEmpty(context.ecoforecast.errormessage)) 
               { 
                @context.ecoforecast.errormessage
               } 
               else
               {
                   @:"Ошибка выполнения"
               } 
               
            </p>     
           </div>
        }
        else if (context.Regim == ForecastViewConext.REGIM.REPORT)
        {
            <div class="">
                <h1> ОТЧЕТ-ПРОГНОЗ  </h1>
                <h2>Наземное пятно</h2>
                <p>
                    <label class="boxdata-label-40 ">Плотность нефтепродукта (@context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.name) (кг/м3) </label>
                    @context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.density
                </p>
                <p>
                    <label class="boxdata-label-40 ">Масса пролива (кг) </label>
                    @context.ecoforecast.groundblur.totalmass
                </p>
                
                <p>
                    <label class="boxdata-label-40 ">Коэффициент разлива (1/м) </label>
                    @context.ecoforecast.groundblur.spreadingcoefficient.koef
                </p>

                <p>
                    <label class="boxdata-label-40 ">Площадь разлива (м2) </label> 
                    @context.ecoforecast.groundblur.square    
                </p>
                
                <p>
                    <label class="boxdata-label-40 ">Высота слоя пролитого нефтепродукта (м) </label>
                    @context.ecoforecast.groundblur.petrochemicalheight
                </p>

                <p>
                    <label class="boxdata-label-40 ">Радиус разлива (м) </label>
                    @context.ecoforecast.groundblur.radius
                </p>
                
                <fieldset  form="ChoiseRiskObject">
                    <legend > Максиальная масса НП, кот. может быть адсорбирована грунтом </legend>
                    <p>
                        <label class="boxdata-label-40 ">Средняя глубина грунтовых вод (м) </label>
                        @context.ecoforecast.groundblur.avgdeep
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Площадь разлива (м2) </label>
                        @context.ecoforecast.groundblur.square
                    </p>
                    <p>
                        <label class="boxdata-label-40 "> Плотность воды </label>
                        @context.ecoforecast.groundblur.waterproperties.density
                    </p>

                    <p>
                        <label class="boxdata-label-40 "> Грунт </label>
                        @context.ecoforecast.groundblur.spreadpoint.groundtype.name
                    </p>
                    <p>
                        <label class="boxdata-label-40 "> Пористость грунта </label>
                        @context.ecoforecast.groundblur.spreadpoint.groundtype.porosity
                     </p>
                    
                    <p>
                        <label class="boxdata-label-40 ">Капилярная влагоемкость грунта </label>
                        @context.ecoforecast.groundblur.spreadpoint.groundtype.watercapacity
                    </p>

                    <p>
                        <label class="boxdata-label-40 ">Динамическая вязкость нефтепродукта </label>
                        @context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.dynamicviscosity
                     </p>
                     <p>
                        <label class="boxdata-label-40 ">Коэф. пов.  натяжения воды </label>
                        @context.ecoforecast.groundblur.waterproperties.tension
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Коэф. пов. натяжения нефтепродукта </label>
                        @context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.tension
                    </p>

                    <p>
                       <label class="boxdata-label-40 ">Вязкость воды</label>
                        @context.ecoforecast.groundblur.waterproperties.viscocity
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Макс. масса НП, кот. может быть адсорбирована грунтом (кг) </label>
                        @context.ecoforecast.groundblur.limitadsorbedmass
                   </p>
                </fieldset>

                <fieldset  form="ChoiseRiskObject">
                    <legend> Проникновение в грунт </legend>
                    <p>
                        <label class="boxdata-label-40 "> Адсорбированная масса нефтепрдукта (т) </label>
                        @context.ecoforecast.groundblur.adsorbedmass
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Масса нефтепродукта достигшая уровня грунтовых вод (кг) </label>
                        @context.ecoforecast.groundblur.restmass
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Глубина проникновения нефтепродукта в грунтах (м) </label>
                        @context.ecoforecast.groundblur.depth
                    </p>

                </fieldset>
                <fieldset  form="ChoiseRiskObject">
                    <legend >Средняя концентация нефтепродукта в грунтах зоны аэрации </legend>
                    <p>
                        <label class="boxdata-label-40 "> Адсорбированная масса нефтепрдукта (т) </label>
                        @context.ecoforecast.groundblur.adsorbedmass
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Глубина проникновения нефтепродукта в грунтах (м) </label>
                        @context.ecoforecast.groundblur.depth
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Площадь разлива (м2) </label>
                        @context.ecoforecast.groundblur.square
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Средняя плотность грунта (кг/м3) </label>
                        @context.ecoforecast.groundblur.spreadpoint.groundtype.density
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Средняя концентация нефтепродукта в грунтах зоны аэрации (кг/кг) </label>
                        @context.ecoforecast.groundblur.concentrationinsoil
                    </p>

                </fieldset>


                 <fieldset  form="ChoiseRiskObject">
                    <legend > Скорость проникновенния нефтепрдукта в глубь грунта </legend>

                    <p>
                        <label class="boxdata-label-40 ">Вязкость нефтепродукта </label>
                        @context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.viscosity
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Плотность воды </label>
                        @context.ecoforecast.groundblur.waterproperties.density
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Вязкость воды </label>
                        @context.ecoforecast.groundblur.waterproperties.viscocity
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Плотность нефтепродукта (@context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.name) (кг/м3) </label>
                        @context.ecoforecast.groundblur.spreadpoint.petrochemicaltype.density
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Скорость проникновенния нефтепрдукта в глубь грунта (м/с) </label>
                        @context.ecoforecast.groundblur.speedvertical  =  @(context.ecoforecast.groundblur.speedvertical* Const.SEC_PER_DAY)  (м/сут)
                    </p>
                    
                </fieldset>

                <fieldset  form="ChoiseRiskObject">
                    <legend > Дата достижения уровня грунтовых вод  нефтепродуктом</legend>

                    <p>
                        <label class="boxdata-label-40 ">Скорость проникновенния нефтепрдукта в глубь грунта (м/с) </label>
                        @context.ecoforecast.groundblur.speedvertical  =  @(context.ecoforecast.groundblur.speedvertical * Const.SEC_PER_DAY)  (м/сут)
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Средняя глубина грунтовых вод (м) </label>
                        @context.ecoforecast.groundblur.avgdeep
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Время  достижения уровня грунтовых вод  нефтепродуктом </label>
                        @context.ecoforecast.groundblur.timewatercomletion  =    @(context.ecoforecast.groundblur.timewatercomletion/ Const.SEC_PER_DAY)  (сут)

                    </p>
                    <p>
                        <label class="boxdata-label-40 "> Дата достижения уровня грунтовых вод  нефтепродуктом </label>
                        @context.ecoforecast.datewatercompletion.ToShortDateString()
                    </p>
                 
                 </fieldset>


                <fieldset  form="ChoiseRiskObject">
                    <legend style="width: auto; font: inherit; border:none;"> Дата достижения максимальной концентрации</legend>

                    <p>
                        <label class="boxdata-label-40 ">Высота слоя пролитого нефтепродукта (м) </label>
                        @context.ecoforecast.groundblur.petrochemicalheight
                    </p>
                    <p>
                        <label class="boxdata-label-40 "> Пористость грунта </label>
                        @context.ecoforecast.groundblur.spreadpoint.groundtype.porosity
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Скорость проникновенния нефтепрдукта в глубь грунта (м/с) </label>
                        @context.ecoforecast.groundblur.speedvertical  =  @(context.ecoforecast.groundblur.speedvertical * Const.SEC_PER_DAY)  (м/сут)
                    </p>

                    <p>
                        <label class="boxdata-label-40 "> Время   довытекания нефтепродукта в грунт (сек) </label>
                        @context.ecoforecast.groundblur.dtimewaxwaterconc  =  @(context.ecoforecast.groundblur.dtimewaxwaterconc / Const.SEC_PER_DAY)  (сут)
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Время  достижения уровня грунтовых вод  нефтепродуктом </label>
                        @context.ecoforecast.groundblur.timewatercomletion  =    @(context.ecoforecast.groundblur.timewatercomletion / Const.SEC_PER_DAY)  (сут)
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Время достижения макс. конц. на  уровне грутовых вод  (сек) </label>
                        @context.ecoforecast.groundblur.timewaxwaterconc = @( @context.ecoforecast.groundblur.timewaxwaterconc / Const.SEC_PER_DAY)  (сут)
                    </p>
                    <p>
                        <label class="boxdata-label-40 "> Дата достижения макс. конц. на уровне гр. вод </label>
                        @context.ecoforecast.datemaxwaterconc.ToShortDateString()
                    </p>
                    
                </fieldset>

               
                <fieldset  form="ChoiseRiskObject">
                    <legend > Максимальная концентрация на уровне грунтовых вод</legend>
                    <p>
                        <label class="boxdata-label-40 ">Масса пролива (кг) </label>
                        @context.ecoforecast.groundblur.totalmass
                    </p>
                    
                    <p>
                        <label class="boxdata-label-40 ">Масса нефтепродукта достигшая уровня грунтовых вод (кг) </label>
                        @context.ecoforecast.groundblur.restmass
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Радиус разлива (м) </label>
                        @context.ecoforecast.groundblur.radius
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Высота слоя пролитого нефтепродукта (м) </label>
                        @context.ecoforecast.groundblur.petrochemicalheight
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">OZ-поправка (м)</label>
                        @context.ecoforecast.groundblur.ozcorrection 
                    </p>
                    <p>
                        <label class="boxdata-label-40 ">Максимальная концентрация на уровне грунтовых вод (кг/m3) </label>
                        @context.ecoforecast.groundblur.maxconcentrationwater
                    </p>
                </fieldset>




</div>
        }
        
    </div>


}

 @*

            this.dtimewaxwaterconc =                                                                // время (сек) достижения  максимальной концентрации  нефтепродуктом грунтовых вод  после достиженич границы грунтовых вод
                                     this.petrochemicalheight /                                     // высота слоя разлитого нефтепродукта (м)
                                     (
                                     this.speedvertical *                                           // вертикальная скорость проникновения нефтепродукта в грунт (м/с)
                                     this.spreadpoint.groundtype.porosity                           // пористость грунта
                                     );

            this.timewaxwaterconc = this.timewatercomletion + this.dtimewaxwaterconc;                // время*@ 