@using EGH01.Core; 
@using EGH01.Models.EGH;
@model EGH01DB.Types.IncidentType
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать",      "IncidentType.Create", false),
                          new Menu.MenuItem("Excel-формат", "IncidentType.Excel", false)
                        );
   
    Menu delete = new Menu(
                          new Menu.MenuItem("Удалить",    "IncidentType.Delete.Delete", true),
                          new Menu.MenuItem("Отказаться", "IncidentType.Delete.Cancel", true)
                        );
    
}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHRGE", Action = "IncidentType", Menu = head})

 @using(Html.BeginForm("IncidentTypeDelete", "EGHRGE"))
 {

   <div class="box">
            <div class="boxdata">

                <p><label class="boxdata-label-30">Код</label>@Model.type_code.ToString()</p>
                <p><label class="boxdata-label-30">Наименование</label>@Model.name</p>
                <input type="hidden" value="@Model.type_code.ToString()" name="type_code">
            </div>
            
            @Html.Partial("_TypeLineMenu",delete)
            
        </div>
  }