@using EGH01.Core;
@using EGH01.Models.EGH;
@model EGH01DB.Primitives.SpreadingCoefficient
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "SpreadingCoefficient.Create", false),
                          new Menu.MenuItem("Excel-формат", "SpreadingCoefficient.Excel", false)
                        );

    Menu delete = new Menu(
                          new Menu.MenuItem("Изменить", "SpreadingCoefficient.Update.Update", true),
                          new Menu.MenuItem("Отказаться", "SpreadingCoefficient.Update.Cancel", true)
                        );

}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHCCO", Action = "SpreadingCoefficient", Menu = head })

@using (Html.BeginForm("SpreadingCoefficientUpdate", "EGHCCO"))
{

        <div class="box">
        <div class="boxdata">
  
            
            <div class="boxdata">
                    <label class="boxdata-label-40">Тип грунта</label>@Html.DropDownList("list_groundType")
                    <input type="hidden" value="@Model.code.ToString()" name="code">
                </div>
            <div class="boxdata">
                        <label class="boxdata-label-40">Диапазон значений объема пролива, м<sup><small>3</small></sup></label>
                        <input class="boxdata-input-20" type="number" name="min_volume" step="0.1" min="0" value="@Model.min_volume.ToString("0.0").Replace(',', '.')" />
                        <input class="boxdata-input-20" type="number" name="max_volume" step="0.1" min="0" value="@Model.min_volume.ToString("0.0").Replace(',', '.')" />
                </div>
                <div class="boxdata">
                    <p>
                        <label class="boxdata-label-40">Диапазон значений гидравлического уклона</label>
                        <input class="boxdata-input-20" type="number" name="min_angle" min="-90" max="90" value="@Model.min_angle.ToString("0.0").Replace(',', '.')" />
                        <input class="boxdata-input-20" type="number" name="max_angle" min="-90" max="90" value="@Model.max_angle.ToString("0.0").Replace(',', '.')" />
                    </p>
                </div>

            </div>
        @Html.Partial("_TypeLineMenu", delete)

    </div>
}