
@using EGH01DB.Types;
@using EGH01.Core;

@model List<WaterCleaningMethod>
@{
    Menu menu = new Menu(
                            new Menu.MenuItem("Удалить", "WaterCleaningMethod.Delete", true),
                            new Menu.MenuItem("Изменить", "WaterCleaningMethod.Update", true)
                           );

}

@foreach (WaterCleaningMethod t in @Model)
{

    using (Html.BeginForm("WaterCleaningMethod", "EGHORT"))
    {

        <div class="box">
            <div class="boxdata">
                    <p><label class="boxdata-label-30">Код метода</label>@t.type_code.ToString()</p>
                    <input type="hidden" value="@t.type_code.ToString()" name="type_code">
                    <p><label class="boxdata-label-30">Наименование метода</label>@t.name.ToString()</p>
                    <p><label class="boxdata-label-30">Описание метода</label>@t.method_description.ToString()</p>
               </div>
            @Html.Partial("_TypeLineMenu", menu)
        </div>

    }
}







