@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Types;

@model EGH01DB.Types.EmergencyClass
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "EmergencyClass.Create", false),
                          new Menu.MenuItem("Excel-формат", "EmergencyClass.Excel", false)
                        );

    Menu update = new Menu(
                          new Menu.MenuItem("Изменить", "EmergencyClass.Update.Update", true),
                          new Menu.MenuItem("Отказаться", "EmergencyClass.Update.Cancel", true)
                        );

}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHORT", Action = "EmergencyClass", Menu = head })
@using (Html.BeginForm("EmergencyClassUpdate", "EGHORT"))
{

    <div class="box">
        <div class="boxdata">
            <p>
                <label class="boxdata-label-30">Код аварии</label>
                @Model.type_code.ToString()
                <input type="hidden" value="@Model.type_code" name="type_code">
            </p>
            <p>
                <label class="boxdata-label-30">Наименование аварии</label>
                <textarea class="boxdata-input-50" name="name" rows="2">@Model.name.ToString()</textarea>
            </p>
            <p>
                <label class="boxdata-label-30">Описание метода</label>
                <input class="boxdata-input-20" type="number"  name="minmass" value="@Model.minmass.ToString()" />
            </p>
            <p>
                <label class="boxdata-label-30">Описание метода</label>
                <input class="boxdata-input-20" type="number" name="maxmass" value="@Model.maxmass.ToString()" />
            </p>
        </div>
        @Html.Partial("_TypeLineMenu", update)

    </div>
}

