@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB;
@model EGH01DB.Types.WaterProtectionArea
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "WaterProtectionArea.Create", false),
                          new Menu.MenuItem("Excel-формат", "WaterProtectionArea.Excel", false)
                        );

    Menu delete = new Menu(
                          new Menu.MenuItem("Изменить", "WaterProtectionArea.Update.Update", true),
                          new Menu.MenuItem("Отказаться", "WaterProtectionArea.Update.Cancel", true)
                        );

}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHORT", Action = "WaterProtectionArea", Menu = head })

@using (Html.BeginForm("WaterProtectionAreaUpdate", "EGHORT"))
{

    <div class="box">
        <div class="boxdata">
          <p>
                <label class="boxdata-label-30">Код категории водоохранной территории</label>@Model.type_code
                <input type="hidden" value="@Model.type_code.ToString()" name="type_code">
          </p>
          <p>
              <label class="boxdata-label-30">Наименование категории водоохранной территории</label>
              <input class="boxdata-input-50" type="text" name="Name" value="@Model.name.ToString()" />
          </p>
          
       </div>
        @Html.Partial("_TypeLineMenu", delete)

    </div>
}