@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Types;

@model EGH01DB.Types.WaterCleaningMethod
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "WaterCleaningMethod.Create", false),
                          new Menu.MenuItem("Excel-формат", "WaterCleaningMethod.Excel", false)
                        );

    Menu update = new Menu(
                          new Menu.MenuItem("Изменить", "WaterCleaningMethod.Update.Update", true),
                          new Menu.MenuItem("Отказаться", "WaterCleaningMethod.Update.Cancel", true)
                        );

}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHORT", Action = "WaterCleaningMethod", Menu = head })
@using (Html.BeginForm("WaterCleaningMethodUpdate", "EGHORT"))
{

    <div class="box">
        <div class="boxdata">
            <p>
                <label class="boxdata-label-30">Код метода</label>
                @Model.type_code.ToString()
                <input type="hidden" value="@Model.type_code" name="type_code">
            </p>
            <p>
                <label class="boxdata-label-30">Наименование метода</label>
                <textarea class="boxdata-input-50" name="name" rows="2">@Model.name.ToString()</textarea>
            </p>
            <p>
                <label class="boxdata-label-30">Описание метода</label>
                <textarea class="boxdata-input-50" name="method_description" rows="2">@Model.method_description.ToString()</textarea>
            </p>
           
        </div>
        @Html.Partial("_TypeLineMenu", update)

    </div>
}

