@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Objects;
@using EGH01DB.Types;
@model EGH01DB.Types.SoilPollutionCategories
@{

    Layout = "~/Views/Shared/EGHLayout.cshtml";
    EGH01DB.RGEContext dbrge = new EGH01DB.RGEContext();
    Menu head = new Menu(
                          new Menu.MenuItem("Создать", "SoilPollutionCategories.Create", false),
                          new Menu.MenuItem("Excel-формат", "SoilPollutionCategories.Excel", false)
                        );

    Menu delete = new Menu(
                          new Menu.MenuItem("Изменить", "SoilPollutionCategories.Update.Update", true),
                          new Menu.MenuItem("Отказаться", "SoilPollutionCategories.Update.Cancel", true)
                        );
    {
        List<EGH01DB.Types.CadastreType> list_cadastre = new List<EGH01DB.Types.CadastreType>();
        List<SelectListItem> listcadastre = ViewBag.list_cadastre = new List<SelectListItem>();

        Helper.GetListCadastreType(dbrge, ref list_cadastre);
        list_cadastre.ForEach(o => ViewBag.list_cadastre.Add(new SelectListItem { Text = o.name, Value = o.type_code.ToString() }));

        if (@Model.cadastretype != null)
        {
            SelectListItem sic = listcadastre.FirstOrDefault(s => s.Value == Model.cadastretype.type_code.ToString());
            sic.Selected = true;

        }
    }
}
@Html.Partial("_TypeHeadMenu", new TypeViewMenu { Controller = "EGHGEA", Action = "SoilPollutionCategories", Menu = head })

@using (Html.BeginForm("SoilPollutionCategoriesUpdate", "EGHGEA"))
{

    <div class="box">
        <div class="boxdata">

            <div class="boxdata">
                <input type="hidden" value="@Model.code" name="code">
            </div>
            <p>
                <label class="boxdata-label-30">Наименование категории загрязнения грунта</label>
                <textarea class="boxdata-input-50" name="Name">@Model.name</textarea>
            </p>
            <p>
                <label class="boxdata-label-30">Диапазон кратности превышения показателя ПДК <sup><small></small></sup></label>
                <input class="boxdata-input-20" type="number" step="0.1" min="0" name="min" value="@Model.min.ToString().Replace(',' , '.')" />
                <input class="boxdata-input-20" type="number" step="0.1" min="0" name="max" value="@Model.max.ToString().Replace(',' , '.')" />
            </p>
            <p>
                <label class="boxdata-label-30">Кадастровый тип земли</label> @Html.DropDownList("list_cadastre")
            </p>
        </div>

        @Html.Partial("_TypeLineMenu", delete)

    </div>
}